.product-list__list-container {
  display: block;
}

.products-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: var(--spacing-medium);
  width: 100%;
  height: 30px;
}

.products-container:nth-child(odd) {
  background-color: green;
}

.products-container:nth-child(even) {
  background-color: yellow;
}
